# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
.venv/
.vscode/
.idea/
*.egg-info/
*.bak
*.swp
# Byte-compiled / optimized / DLL files
*.py[cod]
# Distribution / packaging
build/
dist/
.eggs/


# OS files
.DS_Store
Thumbs.db

config.json