aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.3.0
certifi==2025.6.15
charset-normalizer==3.4.2
et_xmlfile==2.0.0
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.0
propcache==0.3.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
schedule==1.2.2
six==1.17.0
twilio==9.6.4
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
yarl==1.20.1
